:root {
  --color-primary: #cbe7fc;
  --blue-light: #9fd2fb;
  --blue-dark: #61adf3;
  --swatch_4: #95a8de;
  --swatch_5: #3d8ce1;
  --swatch_6: #2350ce;
  --swatch_7: #ba77cc; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  position: relative;
  min-height: 100vh;
  color: #fff;
  background-image: linear-gradient(52deg, #a5dbff 0%, #e7f5fe 95%); }

.player {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  border-radius: 5rem;
  box-shadow: 0 35rem 20rem 0rem rgba(159, 210, 251, 0.8); }

.art {
  width: 35rem;
  margin-bottom: 2.5rem; }
  .art__img {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    display: block;
    width: 100%;
    background-size: cover;
    object-fit: cover; }
    .art__img--animate {
      animation: rotation 1.5s linear; }

.header {
  text-align: center; }
  .header__title {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: .1rem; }
  .header__subtitle {
    margin-top: -.5rem;
    font-weight: 300; }

.buttons {
  margin-top: 2rem;
  align-self: stretch;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.btn {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.75); }

.progress {
  margin-top: 2rem;
  align-self: stretch;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: .7rem;
  position: relative; }
  .progress__bar {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    transform: translateY(-2rem);
    transition: all .5s;
    background-color: rgba(255, 255, 255, 0.5); }
    .progress__bar--show {
      opacity: 1;
      transform: translateY(0); }
  .progress__bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background: #fff;
    cursor: pointer; }
  .progress__bar::-moz-range-thumb {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background: #fff;
    cursor: pointer; }

.range {
  position: absolute;
  border-radius: 1rem;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  background-color: #ffffff; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
