:root {
  --color-primary: #cbe7fc;
  --blue-light: #9fd2fb;
  --blue-dark: #61adf3;
  --swatch_4: #95a8de;
  --swatch_5: #3d8ce1;
  --swatch_6: #2350ce;
  --swatch_7: #ba77cc;
  --gradient-blue: linear-gradient(52deg, rgba(165, 219, 255, 1) 0%, rgba(231, 245, 254, 1) 95%);
  --gradient-pink: linear-gradient(52deg, rgba(185, 118, 203, 1) 0%, rgba(149, 168, 222, 1) 95%);
  --box-shadow-blue: 0 35rem 20rem 0rem rgba(159, 210, 251, .8);
  --box-shadow-pink: 0 35rem 20rem 0rem rgba(149, 168, 222, .6);
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  position: relative;
  min-height: 100vh;
  color: #fff;
  background-image: var(--gradient-blue);
}

.container {
  display: flex;
  align-items: center;
}

.files_container {
  padding: 2rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.player {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  border-radius: 5rem;
  box-shadow: var(--box-shadow-blue);
}

.art {
  width: 35rem;
  height: 35rem;
  margin-bottom: 2.5rem;

  &__img {
    box-shadow: 0 1rem 4rem rgba($color:#000000, $alpha: .3);
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;

    &--animate {
      animation: rotation 1.5s linear;
    }
  }
}

.header {
  text-align: center;

  &__title {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }

  &__subtitle {
    text-transform: capitalize;
    margin-top: -.5rem;
    font-weight: 300;
  }
}


.buttons {
  margin-top: 2rem;
  align-self: stretch;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  font-size: 5rem;
  color: rgba($color: #ffffff, $alpha: .75);

  &--play {
    position: relative;
  }
}

.drop {
  opacity: 0;

  &--show {
    opacity: 1;
    position: absolute;
    left: 1.2rem;
    bottom: 2rem;
    border-radius: 10rem;
    background-color: rgba($color: #ffffff, $alpha: .5);
    width: 1.7rem;
    height: 1.7rem;
    transform: translateY(5rem);
    transition: all ease-in-out .5s;
  }
}

.progress {
  perspective: 150rem;
  -moz-perspective: 150rem;
  margin-top: 2rem;
  align-self: stretch;
  display: flex;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: .7rem;
  position: relative;

  &__bar {
    opacity: 0;
    -webkit-appearance: none;
    height: 0;
    width: 0;
    appearance: none;
    transition: all 2s;
    transform-origin: center;
    background-color: rgba($color: #ffffff, $alpha: .5);

    &--show {
      height: 100%;
      width: 100%;
      opacity: 1;
    }
  }

  &__bar:focus {
    border: none;
    outline: none;
  }

  &__bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }

  &__bar::-moz-range-thumb {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }
}

.range {
  opacity: 0;

  &--show {
    opacity: 1;
    position: absolute;
    border-radius: 1rem;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ffffff;
  }
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.audio_files {
  color: transparent;
  outline: none;
  border: none;
  margin: 1.5rem 0;
}

.audio_files::-webkit-file-upload-button {
  visibility: hidden;
}

.audio_files::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.audio_files:hover::before {
  border-color: black;
}

.audio_files:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.filelist {
  padding: 2rem;
  // background-color: black;
  list-style: none;
  flex: 1;
  border: 1px solid black;

  &__item {
    text-transform: capitalize;
    width: 100%;
    padding: .5rem 2rem;
    background-color: rgba(97, 173, 243, .5);
    border-radius: 1rem;
    margin: 1rem 0;

    &:hover {
      background-color: #61adf3;
    }
  }
}